# Python
*.py[cod]
*__pycache__*
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Virtual Environment
venv/
.venv/

# Tests
.pytest_cache/
*.cover

# Misc
.DS_Store
.env
*.log
temp_*
